html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(49, 49, 49);
    --secondary-color: rgba(0, 255, 255, 0.712);
}

/*Styling for the Header*/
header {
    border: var(--primary-color), 0px;
    padding: 0;
    background-color: var(--primary-color);
    display: flex;   
    justify-content: space-between;
}

header h1 {
   background-color: var(--secondary-color);
   color: var(--primary-color);
   font-size: 2vw;
   margin: 20px 0;
   padding: 0 0 0 90px;
}

header nav {
  margin: auto 90px auto 0;
  width: 20%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header a {
    text-decoration: none;
}

header nav ul li a {
    color: var(--secondary-color);
    font-size: 1.3vw;
    border-bottom: 5px solid var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    background-color: var(--secondary-color);
}

/*Styling for the Hero section*/
section.hero {
    background-image: url(./image/coding\ hero.jpg);
    background-size: 100% 100%;
    height: 400px;
    position: relative;
}

section.hero h2 {
    font-size: 1.75vw;
    color: white;
    position: absolute;
    left: 80%; 
    bottom: 0%;
}

/*Styling for the Main Secton About*/
main {
    width: 70%;
    margin: 0 auto;
    padding-top: 80px;
}

.about-me {
    display: flex;
    width: 100%;
    height: auto;
}

.about-header {
    flex: 1 1 10%;
}

.about-text {
    flex: 1 1 90%;
    font-size: 1.4vw;
    text-align: center;
    line-height: 2;
    padding-left: 10px;
    margin-left: 10px;
    border-left: var(--primary-color) solid 5px;
}

.about-header h3 {
    font-size: 1.6vw;
    text-align: center;
    line-height: 2; 
}

/*Styling for the Main Secton Project*/
.project {
    display: flex;
    width: 100%;
    height: auto; 
    padding-top: 80px;
}

.project-header {
    flex: 1 1 10%;
    font-size: 1.4vw;
    text-align: center;
    line-height: 2;
}

.project-image {
    flex: 1 1 90%;
    padding-left: 10px;
    margin-left: 10px;
    border-left: var(--primary-color) solid 5px;
    display: grid;
    gap: 3vw;
    grid-template-columns: 1fr 1fr;
}


.project-image1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 400px;
    background-image: url(./image/project-1.jpg);
    border: rgba(0, 255, 255, 0.712) 5px solid;
}

.project-image2 {
    position: relative;
    height: 200px;
    background-image: url(./image/project-2.jpg);
}

.project-image3 {
    position: relative;
    height: 200px;
    background-image: url(./image/project-3.jpg)
}

.project-image4 {
    position: relative;
    height: 200px;
    background-image: url(./image/project-4.jpg);
}

.project-image5 {
    position: relative;
    height: 200px;
    background-image: url(./image/project-5.jpg);
}

#project-image h4 {
    position: absolute;
    background-color: var(--primary-color);
    line-height: 1;
    bottom: 0%;
    font-size: 1.5vw;
}

#project-image {
    border: rgba(0, 255, 255, 0.712) 5px solid;
    opacity: .5;
}

#project-image:hover h4 {
    background-color: rgb(18, 0, 119);
}

#project-image:hover {
    opacity: 1;
    border: rgb(18, 0, 119) 5px solid;
}
